@model SISGESAL.web.Models.AddUserViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<br />
<h1><b>CREAR USUARIO</b></h1>
<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <b><div asp-validation-summary="ModelOnly" class="text-danger"></div></b>
                    <div class="row"><label style="color:red"><b>@ViewBag.DuplicateMessage1</b></label></div>
                    <div class="row"><label style="color:red"><b>@ViewBag.DuplicateMessage2</b></label></div>
                    <div class="row"><label style="color:red"><b>@ViewBag.DuplicateMessage3</b></label></div>
                    <div class="row"><label style="color:red"><b>@ViewBag.DuplicateMessage4</b></label></div>

                    <div class="form-group">
                        <label asp-for="UserName" class="control-label">Usuario <b style="color:red">(*)</b></label>
                        <input asp-for="UserName" class="form-control" style="text-transform: lowercase" autofocus />
                        <b><span asp-validation-for="UserName" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="FullName" class="control-label">Nombre Completo <b style="color:red">(*)</b></label>
                        <input asp-for="FullName" class="form-control" style="text-transform: uppercase" />
                        <b><span asp-validation-for="FullName" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="DepartmentId" class="control-label">Departamento al que Pertenece</label>
                        <select asp-for="DepartmentId" asp-items="Model.Departments" class="form-control"></select>
                        <b><span asp-validation-for="DepartmentId" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="MunicipalityId" class="control-label">Municipio al que Pertenece</label>
                        <select asp-for="MunicipalityId" asp-items="Model.Municipalities" class="form-control"></select>
                        <b><span asp-validation-for="MunicipalityId" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="CourtId" class="control-label">Juzgado, Tribunal o Lugar al que Pertenece </label>
                        <select asp-for="CourtId" asp-items="Model.Courts" class="form-control"></select>
                        <b><span asp-validation-for="CourtId" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="DepotId" class="control-label">Almacén a Asignar <b style="color:darkorange">(*)</b></label>
                        <select asp-for="DepotId" asp-items="Model.Depots" class="form-control"></select>
                        <b><span asp-validation-for="DepotId" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="DNI" class="control-label">DNI <b style="color:red">(*)</b></label>
                        <input asp-for="DNI" class="form-control" id="DNI" minlength="15"/>
                        <b><span asp-validation-for="DNI" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="Occupation" class="control-label">Cargo <b style="color:red">(*)</b></label>
                        <select asp-for="OccupationId" asp-items="Model.Occupations" class="form-control"></select>
                        <b><span asp-validation-for="Occupation" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email <b style="color:red">(*)</b></label>
                        <input asp-for="Email" class="form-control" style="text-transform: lowercase" type="email" maxlength="97" />
                        <b><span asp-validation-for="Email" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">Número Teléfonico <b style="color:red">(*)</b></label>
                        <input asp-for="PhoneNumber" class="form-control" id="PhoneNumber" minlength="14" />
                        <b><span asp-validation-for="PhoneNumber" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="Observation" class="control-label"></label>
                        <textarea asp-for="Observation" class="form-control" style="text-transform: uppercase" rows="3"></textarea>
                        <b><span asp-validation-for="Observation" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Contraseña <b style="color:red">(*)</b></label>
                            <input asp-for="Password" class="form-control" />
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkDefault" onclick="Password.type = this.checked ? 'text' : 'Password'">
                            <label class="form-check-label" for="checkDefault">
                                Mostrar Contraseña
                            </label>
                        </div>
                            <p class="control-label" id="copy">Sugerencia de Contraseña:   </p>
                            <input type="text" id="pw" placeholder="Password" readonly size="30" hidden>
                        <b><span asp-validation-for="Password" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="PasswordConfirm" class="control-label">Confirmación de Contraseña <b style="color:red">(*)</b></label>
                        <input asp-for="PasswordConfirm" class="form-control" />
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkDefault" onclick="PasswordConfirm.type = this.checked ? 'text' : 'Password'">
                            <label class="form-check-label" for="checkDefault">
                                Mostrar Confirmar Contraseña
                            </label>
                        </div>
                        <b><span asp-validation-for="PasswordConfirm" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        <a class="btn btn-dark" title="Regresar" href="@Url.Action("Index","Customers")">Regresar a Usuarios</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<hr />
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!#$%&*@@'
            let pw = '';
            for (let i = 0; i < 20; i++) pw += chars[Math.floor(Math.random() * chars.length)];
            document.getElementById('pw').value = pw;
            const p =document.getElementById("copy");
            p.textContent = "Sugerencia de Contraseña: " + pw;
            document.addEventListener("copy", ()=>alert("Este texto no se puede copiar."))
        });
    </script>

    <script>
        document.addEventListener('pw', ()=>alert("no copies"))
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#DNI").inputmask("9999-9999-99999")
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#PhoneNumber").inputmask("+504-9999-9999")
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#DepartmentId").change(function () {
                $("#MunicipalityId").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetMunicipalitiesByDepartmentId", "Customers")',
                    dataType: 'json',
                    data: { departmentId: $("#DepartmentId").val() },
                    success: function (municipalities) {
                        debugger;
                        $("#MunicipalityId").append('<option value="0">(--Seleccione una Opción)</option>');
                        $.each(municipalities, function (i, municipality) {
                            $("#MunicipalityId").append('<option value="'+municipality.id+'">'+municipality.name+'</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Error al traer municipios' + ex);
                    }
                });
                return false;
            })
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#MunicipalityId").change(function () {
                $("#CourtId").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetCourtsByMunicipalityId", "Customers")',
                    dataType: 'json',
                    data: { municipalityId: $("#MunicipalityId").val() },
                    success: function (courts) {
                        debugger;
                        $("#CourtId").append('<option value="0">(--Seleccione una Opción)</option>');
                        $.each(courts, function (i, court) {
                            $("#CourtId").append('<option value="'+court.id+'">'+court.name+'</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Error al traer Juzgados,Tribunales o Otros Lugares' + ex);
                    }
                });
                return false;
            })
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#CourtId").change(function () {
                $("#DepotId").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetDepotsByCourtId", "Customers")',
                    dataType: 'json',
                    data: { courtId: $("#CourtId").val() },
                    success: function (depots) {
                        debugger;
                        $("#DepotId").append('<option value="0">(--Seleccione una Opción)</option>');
                        $.each(depots, function (i, depot) {
                            $("#DepotId").append('<option value="'+depot.id+'">'+depot.name+'</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Error al traer álmacenes' + ex);
                    }
                });
                return false;
            })
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}