@model SISGESAL.web.Data.Entities.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<br />
<h1><b>DETALLES</b></h1>
<hr />

<h4><b>USUARIO: </b><b class="text-red">@Html.DisplayFor(model => model.User!.UserName)</b></h4>
<hr />
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.AccessFailedCount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.AccessFailedCount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.ConcurrencyStamp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.ConcurrencyStamp)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.CreationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.CreationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.Creator)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.Creator)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.DNI)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.DNI)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.EmailConfirmed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.EmailConfirmed)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.LockoutEnabled)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.LockoutEnabled)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.LockoutEnd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.LockoutEnd)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.ModificationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.ModificationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.Modifier)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.Modifier)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.NormalizedEmail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.NormalizedEmail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.NormalizedUserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.NormalizedUserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.Observation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.Observation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.Occupation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.Occupation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.PasswordHash)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.PasswordHash)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.PhoneNumberConfirmed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.PhoneNumberConfirmed)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.SecurityStamp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.SecurityStamp)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.TwoFactorEnabled)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.TwoFactorEnabled)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.UserType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.UserType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User!.Depot!.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User!.Depot!.Name)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
            <a asp-action="Index" class="btn btn-dark">Regresar a Usuarios</a>
        </div>
    </div>
</div>
<hr />