@model IEnumerable<SISGESAL.web.Data.Entities.Customer>

<!-- Font Awesome Icons -->
<link rel="stylesheet" href="~/ArchivosAdminLTE/plugins/fontawesome-free/css/all.min.css">

<!-- datatable -->
<link rel="stylesheet" href="~/DataTable/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="~/DataTable/css/dataTables.dateTime.min.css">
<link rel="stylesheet" href="~/DataTable/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="~/DataTable/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/DataTable/css/select.dataTables.min.css">

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<br />
@if (TempData["AlertMessageCreate"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["AlertMessageCreate"]</strong>
        <button type="button" class="close cm-strong" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}
@if (TempData["AlertMessageEdit"] != null)
{
    <div class="alert alert-warning">
        <strong>@TempData["AlertMessageEdit"]</strong>
        <button type="button" class="close cm-strong" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}
@if (TempData["AlertMessageLock"] != null)
{
    <div class="alert alert-danger">
        <strong>@TempData["AlertMessageLock"]</strong>
        <button type="button" class="close cm-strong" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}
@if (TempData["AlertMessageUnLock"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["AlertMessageUnLock"]</strong>
        <button type="button" class="close cm-strong" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}

<div class="row">
    <div class="col-lg-7">
        <p class="text-center">
            <h1 align="center"><b>USUARIOS</b></h1>
        </p>
    </div>
    <div class="col-lg-5">
        <p class="text-center">
            <br />
                <a asp-action="Create" class="btn btn-primary col-md-6"><b>CREAR NUEVO USUARIO</b></a>
        </p>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount4</h3>
                        <p align="center">Usuarios Activos con Almacén Activo</p>
                    </div>
                    <a href="/Customers/ActiveUserWithDepot" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount5</h3>
                        <p align="center">Usuarios Bloqueados con Almacén Activo</p>
                    </div>
                    <a href="/Customers/LockedUserWithDepot" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount6</h3>
                        <p align="center">Total de Usuarios con Almacén Activo</p>
                    </div>
                    <a href="/Customers/UserWithDepot" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount10</h3>
                        <p align="center">Usuarios Activos con Almacén Bloqueado</p>
                    </div>
                    <a href="/Customers/ActiveUserWithDepotLock" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="small-box bg-dark">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount11</h3>
                        <p align="center">Usuarios Bloqueados con Almacén Bloqueado</p>
                    </div>
                    <a href="/Customers/LockedUserWithDepotLock" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount12</h3>
                        <p align="center">Total de Usuarios con Almacén Bloqueado</p>
                    </div>
                    <a href="/Customers/UserWithDepotLock" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount7</h3>
                        <p align="center">Usuarios Activos sin Almacén</p>
                    </div>
                    <a href="/Customers/ActiveUserWithNoDepot" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="small-box bg-dark">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount8</h3>
                        <p align="center">Usuarios Bloqueados sin Almacén</p>
                    </div>
                    <a href="/Customers/LockedUserWithNoDepot" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="small-box bg-orange">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount9</h3>
                        <p align="center">Total de Usuarios sin Almacén</p>
                    </div>
                    <a href="/Customers/UserWithNoDepot" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount2</h3>
                        <p align="center">Total de Usuarios Activos</p>
                    </div>
                    <a href="/Customers/ActiveUser" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount3</h3>
                        <p align="center">Total de Usuarios Bloqueados</p>
                    </div>
                    <a href="/Customers/LockedUser" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount</h3>
                        <p align="center">Total de Usuarios</p>
                    </div>
                    <a href="/Customers/TotalUser" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}