@model SISGESAL.web.Data.Entities.Occupation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<!-- Font Awesome Icons -->
<link rel="stylesheet" href="~/ArchivosAdminLTE/plugins/fontawesome-free/css/all.min.css">

<!-- datatable -->
<link rel="stylesheet" href="~/DataTable/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="~/DataTable/css/dataTables.dateTime.min.css">
<link rel="stylesheet" href="~/DataTable/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="~/DataTable/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/DataTable/css/select.dataTables.min.css">

<br />
<h1><b>DETALLES DEL CARGO Ó PUESTO DE TRABAJO</b></h1>

<div>
    <h4><b>Cargo ó Puesto de Trabajo: </b><b class="text-red">@Html.DisplayFor(model => model.Name)</b></h4>
    <hr />
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Observation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Observation)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreationDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreationDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Creator)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Creator)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ModificationDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ModificationDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Modifier)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Modifier)
                </dd>
            </dl>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar Cargo ó Puesto de Trabajo</a>
                <a asp-action="Index" class="btn btn-dark">Regresar</a>
            </div>
        </div>
    </div>
</div>

<hr />

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}