@model IEnumerable<SISGESAL.web.Data.Entities.Depot>

<!-- Font Awesome Icons -->
<link rel="stylesheet" href="~/ArchivosAdminLTE/plugins/fontawesome-free/css/all.min.css">

<!-- datatable -->
<link rel="stylesheet" href="~/DataTable/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="~/DataTable/css/dataTables.dateTime.min.css">
<link rel="stylesheet" href="~/DataTable/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="~/DataTable/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/DataTable/css/select.dataTables.min.css">

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<br />

@if (TempData["AlertMessageCreate"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["AlertMessageCreate"]</strong>
        <button type="button" class="close cm-strong" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}
@if (TempData["AlertMessageEdit"] != null)
{
    <div class="alert alert-warning">
        <strong>@TempData["AlertMessageEdit"]</strong>
        <button type="button" class="close cm-strong" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}
@if (TempData["AlertMessageLock"] != null)
{
    <div class="alert alert-danger">
        <strong>@TempData["AlertMessageLock"]</strong>
        <button type="button" class="close cm-strong" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}
@if (TempData["AlertMessageUnLock"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["AlertMessageUnLock"]</strong>
        <button type="button" class="close cm-strong" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}

<div class="row">
    <div class="col-lg-7">
        <p class="text-center">
            <h1 align="center"><b>ALMACENES</b></h1>
        </p>
    </div>
    <div class="col-lg-5">
        <p class="text-center">
            <br />
            <a asp-action="Create" class="btn btn-primary col-md-6"><b>CREAR NUEVO ALMACÉN</b></a>
        </p>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount1</h3>
                        <p align="center">Almacenes Activos con Usuario Activo</p>
                    </div>
                    <a href="/Depots/ActiveUserWithDepotActive" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount2</h3>
                        <p align="center">Almacenes Activos con Usuario Bloqueado</p>
                    </div>
                    <a href="/Depots/LockedUserWithDepotActive" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount3</h3>
                        <p align="center">Almacenes Activos sin Usuario</p>
                    </div>
                    <a href="/Depots/DepotActiveWithNoUser" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount4</h3>
                        <p align="center">Total de Almacenes Activos</p>
                    </div>
                    <a href="/Depots/DepotActive" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount5</h3>
                        <p align="center">Almacenes Bloqueados con Usuario Activo</p>
                    </div>
                    <a href="/Depots/ActiveUserWithDepotLock" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-dark">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount6</h3>
                        <p align="center">Almacenes Bloqueados con Usuario Bloqueado</p>
                    </div>
                    <a href="/Depots/LockedUserWithDepotLock" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-dark">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount7</h3>
                        <p align="center">Almacenes Bloqueados sin Usuario</p>
                    </div>
                    <a href="/Depots/DepotLockWithNoUser" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount8</h3>
                        <p align="center">Total de Almacenes Bloqueados</p>
                    </div>
                    <a href="/Depots/DepotLock" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-12 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3 align="center">@ViewBag.Indexcount9</h3>
                        <p align="center">Total de Almacenes</p>
                    </div>
                    <a href="/Depots/TotalDepot" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}