@model SISGESAL.web.Data.Entities.Depot

@{
    ViewData["Title"] = "Lock";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<br />
<h1>ALMACÉN: <b class="text-purple">@Html.DisplayFor(model => model.Name)</b></h1>
<hr />
<h4 class="text-green">¿Estas Seguro de que quieres desbloquear este almacén?</h4>

<hr />
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Court!.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Court!.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Court!.Municipality!.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Court!.Municipality!.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Court!.Municipality!.Department!.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Court!.Municipality!.Department!.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Observation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Observation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Creator)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Creator)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModificationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModificationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Modifier)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Modifier)
            </dd>
        </dl>
        <hr />
        <div>
            <form asp-action="UnLock">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Activar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-dark">Regresar</a>
            </form>
        </div>
    </div>
</div>
<br />