@model SISGESAL.web.Models.AddUserViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<br />
<h1><b>CREAR ADMINISTRADOR</b></h1>
<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <b><div asp-validation-summary="ModelOnly" class="text-danger"></div></b>
                    <div class="row"><label style="color:red"><b>@ViewBag.DuplicateMessage</b></label></div>

                    <div class="form-group">
                        <label asp-for="UserName" class="control-label">Usuario <b style="color:red">(*)</b></label>
                        <input asp-for="UserName" class="form-control" style="text-transform: lowercase" />
                        <b><span asp-validation-for="UserName" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="FullName" class="control-label">Nombre Completo <b style="color:red">(*)</b></label>
                        <input asp-for="FullName" class="form-control" style="text-transform: uppercase" />
                        <b><span asp-validation-for="FullName" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="DNI" class="control-label">DNI <b style="color:red">(*)</b></label>
                        <input asp-for="DNI" class="form-control" id="DNI" name="DNI" onKeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;" />
                        <b><span asp-validation-for="DNI" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="Occupation" class="control-label">Cargo <b style="color:red">(*)</b></label>
                        <input asp-for="Occupation" class="form-control" style="text-transform: uppercase" />
                        <b><span asp-validation-for="Occupation" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email <b style="color:red">(*)</b></label>
                        <input asp-for="Email" class="form-control" style="text-transform: lowercase" type="email" maxlength="97" />
                        <b><span asp-validation-for="Email" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">Número Teléfonico <b style="color:red">(*)</b></label>
                        <input asp-for="PhoneNumber" class="form-control" id="PhoneNumber" onKeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;" maxlength="8" />
                        <b><span asp-validation-for="PhoneNumber" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="Observation" class="control-label"></label>
                        <textarea asp-for="Observation" class="form-control" style="text-transform: uppercase" rows="3"></textarea>
                        <b><span asp-validation-for="Observation" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Contraseña <b style="color:red">(*)</b></label>
                        <input asp-for="Password" class="form-control" />
                        <b><span asp-validation-for="Password" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="PasswordConfirm" class="control-label">Confirmación de Contraseña <b style="color:red">(*)</b></label>
                        <input asp-for="PasswordConfirm" class="form-control" />
                        <b><span asp-validation-for="PasswordConfirm" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        <a class="btn btn-dark" title="Regresar" href="@Url.Action("Index","Managers")">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<hr />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $("#DepartmentId").change(function () {
                $("#MunicipalityId").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetMunicipalitiesAsync")',
                    dataType: 'json',
                    data: { departmentId: $("#DepartmentId").val() },
                    success: function (municipalities) {
                        debugger;
                        $("#MunicipalityId").append('<option value="0">(--Seleccione una Opción)</option>');
                        $.each(municipalities, function (i, municipality) {
                            $("#MunicipalityId").append('<option value="'
                                + municipality.id + '">'
                                + municipality.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Error al traer ciudades' + ex);
                    }
                });
                return false;
            })
        });
    </script>

    <script src="~/Ajax/jquery-3.6.0.min.js"></script>

    <script src="~/mask/jquery.min.js"></script>
    <script src="~/mask/jquery.inputmask.bundle.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#DNI").inputmask("9999-99999999")
        });
    </script>
}

    <script src="~/Mask/jquery.min.js"></script>
    <script src="~/Mask/jquery.inputmask.bundle.min.js"></script>





@*     <script>
        $(document).ready(function () {
            $('#DepartmentId').change(function () {
                var departmentId = $(this).val();
                $.getJSON('@Url.Action("GetMunicipalities")', { departmentId: departmentId }, function (municipalities) {
                    var municipalitiesSelect = $('#MunicipalityId');
                    municipalitiesSelect.empty();
                    $.each(municipalities, function (index, municipality) {
                        municipalitiesSelect.append($('<option/>', {
                            value: municipality.value,
                            text: municipality.text
                        }));
                    });
                });
            });

            $('#Municipalities').change(function () {
                var municipalityId = $(this).val();
                $.getJSON('@Url.Action("GetCourts")', { municipalityId: municipalityId }, function (courts) {
                    var courtsSelect = $('#Courts');
                    courtsSelect.empty();
                    $.each(courts, function (index, court) {
                        courtsSelect.append($('<option/>', {
                            value: court.value,
                            text: court.text
                        }));
                    });
                });
            });
        });
    </script> *@


@* 
    <script>
        $(document).ready(function () {
            $('#Departments').change(function () {
                var departmentId = $(this).val();
                $.getJSON('@Url.Action("GetMunicipalities")', { departmentId: departmentId }, function (municipalities) {
                    var municipalitiesSelect = $('#Municipalities');
                    municipalitiesSelect.empty();
                    $.each(municipalities, function (index, municipality) {
                        municipalitiesSelect.append($('<option/>', {
                            value: municipality.value,
                            text: municipality.text
                        }));
                    });
                });
            });

            $('#Municipalities').change(function () {
                var municipalityId = $(this).val();
                $.getJSON('@Url.Action("GetCourts")', { municipalityId: municipalityId }, function (courts) {
                    var courtsSelect = $('#Courts');
                    courtsSelect.empty();
                    $.each(courts, function (index, court) {
                        courtsSelect.append($('<option/>', {
                            value: court.value,
                            text: court.text
                        }));
                    });
                });
            });
        });
    </script> *@

    <script>
        $(document).ready(function () {
            $("#PhoneNumber").inputmask("9999-9999")
        });
    </script>