@model SISGESAL.web.Data.Entities.TradeMark

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<!-- Font Awesome Icons -->
<link rel="stylesheet" href="~/ArchivosAdminLTE/plugins/fontawesome-free/css/all.min.css">

<!-- datatable -->
<link rel="stylesheet" href="~/DataTable/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="~/DataTable/css/dataTables.dateTime.min.css">
<link rel="stylesheet" href="~/DataTable/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="~/DataTable/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/DataTable/css/select.dataTables.min.css">

<br />
<h1><b>DETALLES DE LA MARCA DE ARTÍCULO</b></h1>

<div>
    <h4><b>Marca de Articulo: </b><b class="text-red">@Html.DisplayFor(model => model.Name)</b></h4>
    <hr />
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Observation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Observation)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreationDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreationDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Creator)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Creator)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ModificationDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ModificationDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Modifier)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Modifier)
                </dd>
            </dl>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar Marca de Artículo</a>
                <a asp-action="Index" class="btn btn-dark">Regresar</a>
            </div>
        </div>
    </div>
</div>

@if (Model.Articles.Count == 0)
{
    <div class="card">
        <div class="card-body">
            <h4><b class="text-purple">NO HAY ARTÍCULOS REGISTRADOS</b></h4>
            <div>
                <a href="/Articles/Create/@Model.Id" class="btn btn-primary">Crear Artículo</a>
            </div>
            <br>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header bg-info">
            <h5 style="text-align:center;"><b>ARTÍCULOS DEL PROVEEDOR @Model.Name</b></h5>
        </div>
        <div class="card-body">
            <div>
                <a href="/Articles/Create/@Model.Id" class="btn btn-primary">Crear Artículo</a>
            </div>
            <br>
            <div style="text-align: center;">
                <table id="tabla" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Articles.FirstOrDefault().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Articles.FirstOrDefault().KindofArticle.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Articles.FirstOrDefault().Supplier.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Articles.FirstOrDefault().Observation)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Articles)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KindofArticle.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Observation)
                                </td>
                                <td>
                                    <a href="/Articles/Details/@item.Id" class="btn btn-info fa fa-solid fa-info-circle" title="DETALLE"></a>
                                    <a href="/Articles/Edit/@item.Id" class="btn btn-warning fa fa-solid fa-edit" title="EDITAR"></a>
                                    <a href="/Articles/Delete/@item.Id" class="btn btn-danger fa fa-solid fa-trash" title="ELIMINAR"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<hr />

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}