<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SISGESAL</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/ArchivosAdminLTE/plugins/fontawesome-free/css/all.min.css">

    <!-- IonIcons -->
    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/ArchivosAdminLTE/dist/css/adminlte.min.css">

    <!-- Bootstrap CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">

    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-secondary navbar-secondary">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" title="MENU" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">

                @if (User.Identity!.IsAuthenticated && User.IsInRole("Manager"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link disabled text-light" title="USUARIO: @User.Identity.Name">
                            USUARIO: <b class="text-dark" title="USUARIO: @User.Identity.Name">@User.Identity.Name</b>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light" title="CAMBIAR CONTRASEÑA" href="@Url.Action("ChangePassword", "Account")">
                            CAMBIAR CONTRASEÑA
                        </a>
                    </li>
                }

                @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link disabled text-light" title="USUARIO: @User.Identity.Name">
                            USUARIO: <b class="text-dark" title="USUARIO: @User.Identity.Name">@User.Identity.Name</b>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light" title="CAMBIAR CONTRASEÑA" href="@Url.Action("ChangePassword", "Account")">
                            CAMBIAR CONTRASEÑA
                        </a>
                    </li>
                }

                <li class="nav-item dropdown">
                    <a class="nav-link text-light" id="form-logout" title="CERRAR SESIÓN" href="@Url.Action("Logout", "Account")">
                        CERRAR SESIÓN
                    </a>
                </li>
            </ul>
        </nav>

        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-primary elevation-4 navbar-secondary">
            <!-- Brand Logo -->
            <a class="brand-link navbar-secondary">
                <img src="~/ArchivosAdminLTE/dist/img/ADMINLTELOGO.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-0" style="opacity: .8" title="SISGESAL">
                <span class="brand-text font-weight-dark text-light" title="SISGESAL">SISGESAL</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Manager"))
                        {

                            <li class="nav-item">
                                <a href="/Home/Index" class="nav-link text-light" title="INICIO">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        INICIO
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Departments/Index" class="nav-link text-light" title="DEPARTAMENTOS">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        DEPART. MUNIC. JUZG. JUECES Y SECRETARIOS
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/KindofPeoples/Index" class="nav-link text-light" title="TIPOS DE PERSONAS">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        TIPOS DE PERSONAS
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Occupations/Index" class="nav-link text-light" title="PUESTOS DE TRABAJOS">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        PUESTOS DE TRABAJO
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Managers/Index" class="nav-link text-light" title="ADMINISTRADORES">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        ADMINISTRADORES
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Customers/Index" class="nav-link text-light" title="USUARIOS">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        USUARIOS
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Depots/Index" class="nav-link text-light" title="ALMACENES">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        ALMACENES
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Articles/Index" class="nav-link text-light" title="Artículos">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        ARTÍCULOS
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Suppliers/Index" class="nav-link text-light" title="PROVEEDORES">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        PROVEEDORES
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/TradeMarks/Index" class="nav-link text-light" title="MARCAS DE PRODUCTOS">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        MARCAS DE PRODUCTOS
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/KindofArticles/Index" class="nav-link text-light" title="TIPOS DE ARTÍCULOS">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        TIPOS DE ARTÍCULOS
                                    </p>
                                </a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
                        {

                            <li class="nav-item">
                                <a href="/Home/Index" class="nav-link text-light" title="INICIO">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        INICIO
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Notifications/Create" class="nav-link text-light" title="REGISTRAR NOTIFICACIÓN">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        AGREGAR NOTIFICACIÓN
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Notifications/Index" class="nav-link text-light" title="NOTIFICACIONES">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        REGISTRO DE NOTIFICACIONES
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Notifications/Statistics" class="nav-link text-light" title="ESTADÍSTICA NOTIFICACIÓN">
                                    <i class="nav-icon far fa-circle text-light"></i>
                                    <p>
                                        ESTADÍSTICAS NOTIFICACIÓN
                                    </p>
                                </a>
                            </li>
                        }

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">

                    @RenderBody()

                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>


        <!-- /.content-wrapper -->
        <footer class="main-footer navbar-secondary">
            <strong><a href="https://www.poderjudicial.gob.hn/">Poder Judicial</a> @DateTime.Now.Year</strong>
            <!--<div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>-->
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- IconAwesome -->
    <script src="https://kit.fontawesome.com/002b47a391.js"></script>

    <!-- sweet alert 2 -->
    <script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>

    <!-- AdminLTE -->
    <script src="~/ArchivosAdminLTE/dist/js/adminlte.js"></script>

    <!-- Ionicons -->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Usuario Activo -->
    <script>
        const usuarioAutenticado = '@User.Identity!.IsAuthenticated' === 'True';
        const cantidadSegundosDeslogueo = 180 * 1000;
        const urlResetearCookie = '@Url.Action("ResetearCookie", "Home")';
        const cantidadSegundoRefrescarCookie = 180 * 1000;
        if (usuarioAutenticado) {
            function timerInactivo() {
                let timer;
                document.onmousemove = resetearTimer;
                //document.onkeypress = resetearTimer; (es el original)
                document.keypress = resetearTimer;
                function resetearTimer() {
                    clearTimeout(timer);
                    timer = setTimeout(logout, cantidadSegundoDeslogueo)
                }
                function logout() {
                    const formularioLogout = document.getElementById('form-logout');
                    formularioLogout.submit();
                }
            }
            setInterval(resetearCookie, cantidadSegundosRefrescarCookie);
            async function resetearCookieAuth() {
                await fetch(urlResetearCookie, {
                    method: 'GET'
                });
            }
        }
    </script>

</body>
</html>